* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.v-align {
    vertical-align: super;
    font-weight: lighter;
}

.container .price {
    font-size: 2em;
}
.container > div > h2 {
    color: #4abebd;
}
.container {
    background: aliceblue;
    max-width: 500px;
    min-height: 100px;
}

.container > div:nth-child(2) > .monthly-sub {
    background: #2bb3b1;
    padding: 1em;
    flex: .5;
}
.container > div:nth-child(2) > .why-us {
    background: #4abebd;
    padding: 1em;
    flex: .5;
}
.container > div:nth-child(2) {
    display: flex;
    flex: 1;
    color: azure;
}
.container > div:first-child {
    padding: 1em;
}

.container > div > span {
    text-shadow: #ffea2e 1px 0 10px;
}
/** button **/
.sign-up-btn {
    width: 11em;
    height: 3em;
    margin-top: 9px;
    background-color: aquamarine;
    font-family: sans-serif;
    border: none;
    border-radius: 7px;
}
.sign-up-btn:hover {
    transition: 1s ease-in;
    background-color: rgb(38, 251, 180);
}


@media only screen and (max-width: 480px) {
    .container {
        width: 90%;
    }
    .container > div:nth-child(2) {
        flex-direction: column-reverse;
    }
}